#mb-board {
  padding: 15px;
}

#mb-board .panel {
  margin-top: 10px;
  border: 1px solid black;
}

#mb-board textarea {
  resize: vertical;
}

#mb-board .btn-info {
  background-color: #674172;
  border-color: #000000;
}

#mb-content {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 200px;
}

#mb-content .container-fluid {
   margin-top: 70px;
}