#mb-board {
  padding: 15px;
}

#mb-board .panel {
  margin-top: 10px; border:1px solid black;
}

#mb-board textarea {
  resize: vertical;
}

#mb-board .btn-info {
  background-color: #674172;
  border-color: #000000
}